.link-login{
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: rgb(90, 107, 90);
    min-height: 100vh;
    position: relative;
    margin: 0;
    /* padding-bottom: 100px; */
    box-sizing: border-box;
  }
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
.submit-button{
    margin: 0 auto;
    width: fit-content;
    color: rgb(9, 82, 9);
}
.main-label{
    font-weight: bold;
    color: green;
}
.btn-primary{
    background-color:rgb(9, 82, 9);
}
.card-title{
    font-size: x-large;
    color: green;
    text-align: center;
}
.display-attr{
    font-weight: lighter;
    font-style: italic;
    font-size: large;
    color: black;
}
mark{
    background-color: yellow;
    color: black;
}

.profile-header{
    background-color: rgb(90, 107, 90);
    width: 100%;
    height: 280px;
}

.profile-header-img{
    padding-top: 30px;
    padding-left: 30px;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgba(255, 255, 255);
    position: absolute;
    top: 80px;
}

#p_pic {
    max-width: 100%;
    height: auto;
}

.p-image {
    position: absolute;
    top: 182px;
    padding-left: 100px;
    color: #aca9a9;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.profile-header-name{
    padding-left: 30px;
    padding-bottom: 30px;
    top: 225px;
    position: absolute;
    color: white;
}

.profile-favs{
    padding-top: 60px;
    padding-left: 30px;
}

.profile-reviews{
    padding-top: 60px;
    padding-left: 30px;
}